.row.count-2 > .column{
    width:49%;
}
.row.count-3 > .column{
    width:32%;
}
.row.count-4 > .column{
    width:23.5%;
}
.row.count-5 > .column{
    width:18.4%;
}
.row.count-6 > .column{
    width:15%;
}
.row > .column{
    margin:1%;
    display:inline-block;
    float:left;
    min-height:280px;
    position: relative;
}
    .row > .column.last-in-row{
        margin-right:0;
    }
    .row > .column.first-in-row{
        clear:left;
        margin-left:0;
    }

@media screen and (max-width:900px){
    .row.count-4 > .column,
    .row.count-5 > .column,
    .row.count-6 > .column{
        width:32%;
        margin:1%;
        clear:none;
    }
        .row.count-4 > .column:nth-child(3n),
        .row.count-5 > .column:nth-child(3n),
        .row.count-6 > .column:nth-child(3n){
            margin-right:0;
            margin-left:1%;
            clear:none;
        }
        .row.count-4 > .column:first-child,
        .row.count-5 > .column:first-child,
        .row.count-6 > .column:first-child,
        .row.count-4 > .column:nth-child(4n),
        .row.count-5 > .column:nth-child(4n),
        .row.count-6 > .column:nth-child(4n){
            margin-left:0;
            margin-right:1%;
            clear:left;
        }
}
@media screen and (max-width:750px){
    .row.count-3 > .column,
    .row.count-4 > .column,
    .row.count-5 > .column,
    .row.count-6 > .column{
        width:49%;
        margin:1%;
        clear:none;
    }
        .row.count-3 > .column:nth-child(2n),
        .row.count-4 > .column:nth-child(2n),
        .row.count-5 > .column:nth-child(2n),
        .row.count-6 > .column:nth-child(2n){
            margin-right:0;
            clear:none;
            margin-left:1%;
        }
        .row.count-3 > .column:first-child,
        .row.count-4 > .column:first-child,
        .row.count-5 > .column:first-child,
        .row.count-6 > .column:first-child,
        .row.count-3 > .column:nth-child(3n),
        .row.count-4 > .column:nth-child(3n),
        .row.count-5 > .column:nth-child(3n),
        .row.count-6 > .column:nth-child(3n){
            margin-left:0;
            margin-right:1%;
            clear:left;
        }
}
@media screen and (max-width:550px){
    .row.count-2 > .column,
    .row.count-3 > .column,
    .row.count-4 > .column,
    .row.count-5 > .column,
    .row.count-6 > .column{
        width:100%;
        float:none;
        margin:1% 0% 1% 0% !important;
        clear:both !important;
    }
}